.name {
  font-size: 32px;
  margin: 10px 0;
}



.contacts {
  &_title {
    margin-bottom: 15px;
  }
}

.contact {
  display: flex;
  margin: 10px;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 40px;
  margin-right: 10px;
}
