.addPhotoBtnDesktop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  &:hover {
    opacity: 1;
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.addPhotoBtnMobile {
  position: absolute;
  right: 0;
  top: 0;  
  padding-left: 30px; 
  padding-bottom: 30px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}