* {
  box-sizing: border-box;
}

.formControl {
  .inputContainer {
    * {
      padding: 5px;
      border: 2px solid black;
      &:focus {
        border: 2px solid black;
      }
      &:focus-visible {
        outline: 0;
      }
    }
  }
  span {
    color: red;
  }
}

.error {
  border: 2px solid red !important;
}

.formError {
  border: 2px solid red;
  padding: 5px;
  color: yellow;
}
